<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h2>watchで実装</h2>
        <p><input type="text" v-model="m"> {{m}}m</p>
        <p><input type="text" v-model="km"> {{km}}km</p>
    </div>

    <div id="app2">
        <h2>computedで実装</h2>
        <p><input type="text" v-model="m">{{set_m}}m</p>
        <p><input type="text" v-model="km">{{set_km}}km</p>
    </div>
    <script src="https://unpkg.com/vue@3.1.5"></script>
    <script src="main.js"></script>
</body>
</html>